// FlatUI colour palette

// Turquoises
$turquoise: #1ABC9C;
$green-sea: #16A085;

// Greens
$emerald:   #2ECC71;
$nephritis: #27AE60;

// Blues
$petermann-river: #3498DB;
$belize-hole: #2980B9;

// Violets
$amethyst: #9B59B6;
$wisteria: #8E44AD;

// Blacks
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

// Yellows
$sun-flower: #F1C40F;
$orange: #F39C12;

// Oranges
$carrot: #E67E22;
$pumpkin: #D35400;

// Reds
$alizarin: #E74C3C;
$pomegranate: #C0392B;

// Light Greys
$clouds: #ECF0F1;
$silver: #BDC3C7;

// Dark Greys
$concrete: #95A5A6;
$abestos: #7F8C8D;

