@import 'colours'
@import 'keyframes'


// Variables and mixins
$white: $clouds

$transparent-bg: rgba(0, 0, 0, 0.6)
$transparent-bg-hover: rgba(0, 0, 0, 0.85)

$green: #00B48F
$white: #EFEFEF
$black: #2A2B2F
$gray:  #4C4C46
$red:   #C4513F

// @mixin player-control
//   display: inline-block
//   border: 3px solid $white
//   background-color: $transparent-bg
//   border-radius: 100%
//   width: 1em
//   height: 1em
//   padding: 0.5em
//   color: $white
//   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25) 
//   line-height: 1em  

//   &:hover
//     background: $transparent-bg-hover
//     color: $emerald
//     border-color: $emerald


html,body
  height: 100%

body
  // background: url('/images/bg-pattern.png')
  // color: $white
  background: #D0D0D0
  color: #2A2B2F
  font-family: 'Shanti'
  -webkit-font-smoothing: antialiased

#main-container
  overflow: hidden

  #loader
    position: absolute
    top: 50%
    left: 50%
    margin-top: -0.5em
    margin-left: -0.5em
    font-size: 10em
    

#wrap
  // background: -webkit-radial-gradient(50% 20%, circle, rgba(52,73,94,0.5) 30%, rgba(0,0,0,0.0) 100%)

  min-height: 100%
  height: auto !important
  height: 100%
  /* Negative indent footer by it's height */
  margin: 0 auto -3em

footer
  height: 3em
  line-height: 3em
  font-size: inherit
  background-color: inherit

  .soundcloud-referal
    float: right
    margin-top: -0.3em
    
// Layout
#header-container
  padding: 1em 0
  // border-bottom: 5px solid $turquoise
  // background-color: white
  line-height: 3em

  h3
    font-size: 2em
    line-height: 2em

  .session
    line-height: 4em
    margin: 0
    .btn
      font-size: 1.2em
      padding: 0.25em 0.75em



// Landing page
.landing
  margin: 60px 0px
  text-align: center
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25)
  font-size: inherit

  h1
    font-size: 5em
    line-height: 1
    margin-bottom: 1em

  p
    font-size: 1.5em
    line-height: 1.5em
    margin-bottom: 1em

  .btn, input
    font-size: 1.5em
    padding: 0.5em 1em
    line-height: 1.5em

  .lead
    font-size: 1.5em
    margin-bottom: 0
    padding-bottom: 1.5em
    @include animation-duration(2s)
    @include animation-name(blurInDelayHalf)
    
  .btn-signup
    margin-bottom: 1em
    background-color: $nephritis
    &:hover
      background-color: $emerald

    @include animation-duration(3s)
    @include animation-name(fadeInUpDelayTwoThird)



#player
  overflow: hidden
  border-radius: 10px
  position: relative
  margin: 10px auto
  height: 300px
  width: 700px
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4)

  .artwork
    position: absolute
    top: 0
    right: 0
    height: 300px
    width: 300px

    // Default background: loading
    background-position: center center
    background-repeat: no-repeat
    background-image: url(/images/spinner.gif)
    background-size: inherit
    background-color: black

  .details
    background-color: $black
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    height: 300px
    width: 400px
    color: $white

  .topleft
    left: 15px
    top: 15px
    position: absolute
    line-height: 1

  .bottomright
    right: 15px
    bottom: 15px
    position: absolute
    line-height: 1

  .info
    margin-right: 60px
    margin-left: 60px
    margin-top: 85px
    text-align: center

  .title
    display: block
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    height: 26px
    line-height: 1
    font-size: 24px
    color: $white

  .artist
    display: block
    margin-bottom: 10px
    margin-top: 10px
    color: $white
    font-size: 12px

  .controls 
    margin-top: 17px
    margin-bottom: 23px
    height: 32px

  .control
    display: inline-block
    cursor: pointer
    color: $white

    &:hover
      color: $green
      text-decoration: none

  #prev, #next
    vertical-align: top
    line-height: 32px
    font-size: 20px

  #play, #pause
    margin-right: 20px
    margin-left: 20px
    line-height: 32px
    font-size: 32px

  #player-bar
    background: $white
    border-radius: 5px
    height: 6px
    overflow: hidden
    margin: 0px 30px

    & > span
      height: 100%
      display: block
      width: 0
      background-color: $turquoise
      transition: width 0.3s

  #like, #unlike
    font-size: 24px

  #unlike, #like:hover
    color: $red

  #unlike:hover, #like
    color: $gray

  #togglePlaylist
    color: $gray
    opacity: 0
    font-size: 24px
    &:hover
      opacity: 1
