.landing

  %h1 Hit play. done.

  .lead
    %p Your SoundCloud favourites made into a webradio.

  .row
    .span4.offset4
      %a.btn.btn-large.btn-block.btn-signup{:href => '/login'} Connect with soundcloud

