!!!
%html{:class=>"no-js"}

  %head

    %title

    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}

    = css :application, :media => :screen
    = js  :app

  %body

    #wrap
      #header-container
        .container
          /[if lt IE 7]
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            %hr

          - if session[:user]
            %p.pull-right.session
              %a.btn.btn-primary{:href => '/logout'} Log out  

          %h3.muted Smoothie

      #main-container
        .container
          = yield

    %footer
      .container
        %a.soundcloud-referal{:href => 'http://www.soundcloud.com'}
          %img.hidden-phone{:src => '/img/powered-by-soundcloud.png'}
          %img.visible-phone{:src => '/img/powered-by-soundcloud-white.png'}
        © Smoothie
        = Time.now.year

    :javascript
      var _gaq=[['_setAccount','UA-39182901-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));