!!!
%html{:class=>"no-js"}

  %head

    %title Smoothie

    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "Your SoundCloud favourites made into a webradio.", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}

    %link{:href => 'http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => "stylesheet", :href => "styles/main.css"}

    %script{:src => "scripts/vendor/modernizr.js"}


    -# segment.io analytics 
    :javascript
      var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
      analytics.load("tbea1jlx4b");

  %body

    #wrap
      #header-container
        .container
          /[if lt IE 7]
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            %hr

          %p.pull-right.session
            - if session[:user]
              %a.btn.btn-danger{:href => '/logout'} Log out  
            - else
              %a.btn.btn-primary{:href => '/login'} Login  


          %h3.muted Smoothie

      #main-container
        .container
          = yield

    %footer
      %a.soundcloud-referal{:href => 'http://www.soundcloud.com', :target => :blank}
        %img{:src => '/images/powered-by-soundcloud-white.png'}

  -# Analytics identification
  :javascript
    analytics.identify('#{session[:user] ? session[:user].id : "unlogged"}', {
      // User attributes go here
    });