.landing

  %h1 Creating your radio...

  %p This can take a long time, you may want to come back later.

  %p If you wish to be notified when your radio is ready, provide an email below.

  %p &nbsp;

  .append
    %input.span4#email-input{:type => "text", :placeholder => "Your email here"}
    %btn.btn.btn-primary Tell me when it's ready

  %p &nbsp;

  %div
    %small Your email will only be used once to notify you when your radio is ready, and will be deleted from our database immediatly after. We don't like spam either.