.landing

  %h1 Fetching playlist...

  %p This can take a long time, you may want to come back later.

  %p If you wish to be notified when your radio is ready, provide an email below.

  %p
    %br

  .append
    %input.span4{:type => "text", :placeholder => "Your email here"}
    %btn.btn.btn-primary Submit