.landing

  %h1 Creating your radio...

  %p This can take a long time, you may want to come back later.

  %p If you wish to be notified when your radio is ready, provide an email below.

  .append
    %input.span4#email-input{:type => "text", :placeholder => "Your email here"}
    %btn.btn.btn-primary Submit