#radio

  / #controls.navbar.navbar-inverse
  /   .navbar-inner
  /     .container
  /       %ul.nav
  /         %li
  /           %i.icon-step-backward

  /         %li
  /           %i.icon-play

  /         %li
  /           %i.icon-step-forward

  .row
    .span6.offset3
      #current-track
        #controls
          %a#prev.pull-left   <i class="icon-angle-left"></i>
          %a#play             <i class="icon-play"></i>
          %a#next.pull-right  <i class="icon-angle-right"></i>

        %br 
        %span.title Sir Sly - Gold
        %br
        %span.artist Sir Sly

