#radio

  .row

    .span6.offset3
      #current-track
        #tracks


        #controls
          %a#prev.control.pull-left   <i class="icon-backward"></i>
          %a#play.control             <i class="icon-play"></i>
          %a#next.control.pull-right  <i class="icon-forward"></i>


= js :smoothie