#radio

  .row

    .span3.control-container.hidden-phone
      %a#prev.control.pull-right   <i class="icon-double-angle-left"></i>

    .span6

      #current-track
        .background

        #controls
          %a#prev.control.pull-left.visible-phone   <i class="icon-double-angle-left"></i>
          %a#play.control                           <i class="icon-play"></i>
          %a#next.control.pull-right.visible-phone  <i class="icon-double-angle-right"></i>

        %a.artist Sir Sly
        %br
        %a.title Sir Sly - Gold

    .span3.control-container.hidden-phone
      %a#next.control.pull-left   <i class="icon-double-angle-right"></i>

