:javascript
  window.AccessToken = "#{session[:user].access_token}"

%script#track-template{:type => 'text/template'}
  :plain
    <div class="overlay"></div>
    <a class="artist" href="<%= track.user.permalink_url %>"><%= track.user.username %></a>
    <br>
    <a class="title" href="<%= track.permalink_url %>"><%= track.title %></a>

%script#controls-template{:type => 'text/template'}
  :plain
    <a class="control pull-left" id="prev"><i class="icon-backward"></i></a>
    <% if (playing) { %>
      <a class="control" id="pause"><i class="icon-pause"></i></a>
    <% } else { %>
      <a class="control" id="play"><i class="icon-play"></i></a>
    <% } %>
    <a class="control pull-right" id="next"><i class="icon-forward"></i></a>


#radio

  .row

    .span6.offset3
      #current-track
        #tracks


        #controls
          %a#prev.control.pull-left   <i class="icon-backward"></i>
          %a#play.control             <i class="icon-play"></i>
          %a#next.control.pull-right  <i class="icon-forward"></i>


= js :smoothie