#radio

  #controls.navbar.navbar-inverse
    .navbar-inner
      .container
        %ul.nav
          %li
            %i.icon-step-backward

          %li
            %i.icon-play

          %li
            %i.icon-step-forward

  #tracks.row

    .span4.hidden-phone
      #prev
        .overlay
          .container
            .icon-liked

        %br
        %span.title Zeds Dead - No Prayers
        %br
        %span.artist Thissongissick.com


    .span4
      #current
        .overlay
          .container
            .icon-liked

        %br
        %span.title Sir Sly - Gold
        %br
        %span.artist Sir Sly

    .span4.hidden-phone
      #next
        .overlay
          .container
            .icon-unliked


        %br
        %span.title Ratatat - Loud Pipes
        %br
        %span.artist Fatlicious!
