%script{:'data-main' => 'js/radio.js', :src => 'js/vendor/components/requirejs/require.js'}

:javascript
  window.session = {
    accessToken: "#{session[:user].access_token}",
    userId: "#{session[:user].id}"
  };


#radio

  .row

    .span6.offset3
      #current-track
        #tracks
          %i#loader.icon-refresh.icon-spin
        #controls-container
