%script{:'data-main' => 'scripts/radio.js', :src => 'components/requirejs/require.js'}

:javascript
  window.session = {
    accessToken: "#{session[:user].access_token}",
    userId: "#{session[:user].id}"
  };



#radio
  .row
    .span6.offset3
      #player-container
        %i#loader.icon-refresh.icon-spin