.heading {
  margin-top: 20px; }

.landing {
  margin: 60px 0px;
  text-align: center; }
  .landing h1 {
    font-size: 72px;
    line-height: 1; }
  .landing .btn {
    font-size: 21px;
    padding: 14px 24px; }

#radio #controls {
  text-align: center; }
  #radio #controls ul.nav {
    float: none;
    display: inline-block;
    vertical-align: bottom; }
    #radio #controls ul.nav i {
      cursor: pointer;
      padding: 0em 0.5em;
      color: #ecf0f1;
      line-height: 40px;
      font-size: 1.5em;
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); }
      #radio #controls ul.nav i:hover {
        color: #2ecc71; }
#radio #tracks #current span, #radio #tracks #prev span, #radio #tracks #next span {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0em 0.25em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25); }
#radio #tracks #current span {
  font-size: 3em; }
#radio #tracks #prev span, #radio #tracks #next span {
  font-size: 1.5em; }
#radio #tracks #current, #radio #tracks #prev, #radio #tracks #next {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  #radio #tracks #current .overlay, #radio #tracks #prev .overlay, #radio #tracks #next .overlay {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
    #radio #tracks #current .overlay .container, #radio #tracks #prev .overlay .container, #radio #tracks #next .overlay .container {
      position: absolute;
      top: 50%;
      height: 6em;
      line-height: 6em;
      margin-top: -3em;
      width: 100%;
      text-align: center; }
      #radio #tracks #current .overlay .container .icon-liked, #radio #tracks #current .overlay .container .icon-unliked, #radio #tracks #prev .overlay .container .icon-liked, #radio #tracks #prev .overlay .container .icon-unliked, #radio #tracks #next .overlay .container .icon-liked, #radio #tracks #next .overlay .container .icon-unliked {
        cursor: pointer;
        font-size: 6em; }
      #radio #tracks #current .overlay .container .icon-liked:before, #radio #tracks #prev .overlay .container .icon-liked:before, #radio #tracks #next .overlay .container .icon-liked:before {
        content: "\f004";
        color: #e74c3c; }
      #radio #tracks #current .overlay .container .icon-liked:hover:before, #radio #tracks #prev .overlay .container .icon-liked:hover:before, #radio #tracks #next .overlay .container .icon-liked:hover:before {
        color: #bdc3c7; }
      #radio #tracks #current .overlay .container .icon-unliked:before, #radio #tracks #prev .overlay .container .icon-unliked:before, #radio #tracks #next .overlay .container .icon-unliked:before {
        color: #bdc3c7;
        content: "\f08a"; }
      #radio #tracks #current .overlay .container .icon-unliked:hover:before, #radio #tracks #prev .overlay .container .icon-unliked:hover:before, #radio #tracks #next .overlay .container .icon-unliked:hover:before {
        color: #e74c3c; }
  #radio #tracks #current:hover .overlay, #radio #tracks #prev:hover .overlay, #radio #tracks #next:hover .overlay {
    visibility: visible; }
#radio #tracks #current {
  background-image: url(https://i4.sndcdn.com/artworks-000006981797-k202a8-t500x500.jpg); }
#radio #tracks #prev {
  background-image: url(https://i1.sndcdn.com/artworks-000020208116-tw81u0-t500x500.jpg); }
#radio #tracks #next {
  background-image: url(https://a2.sndcdn.com/assets/images/default/cloudx120-1ec56ce9.png); }
