---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/3207?client_id=d082276d6bcf9390cb2b1dab9197ce0e&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4c5ce028e08e20e9847ffd7145ff4c26"'
    body:
      encoding: UTF-8
      string: '{"id":3207,"kind":"user","permalink":"jwagener","username":"Johannes
        Wagener","uri":"http://api.soundcloud.com/users/3207","permalink_url":"http://soundcloud.com/jwagener","avatar_url":"http://i1.sndcdn.com/avatars-000014428549-3at7qc-large.jpg?0769104","country":"Germany","full_name":"Johannes
        Wagener","description":"\u003Cb\u003EExSoundClouder, now traveling. Still
        hacking.\u003C/b\u003E","city":"Berlin","discogs_name":null,"myspace_name":null,"website":"http://johannes.wagener.cc","website_title":"johannes.wagener.cc","online":true,"track_count":55,"playlist_count":2,"plan":"Free","public_favorites_count":101,"followers_count":1945,"followings_count":310,"subscriptions":[]}'
  recorded_at: Sun, 01 Sep 2013 09:39:16 GMT
- request:
    method: get
    uri: http://api.soundcloud.com/users/3207/favorites?client_id=d082276d6bcf9390cb2b1dab9197ce0e&format=json&limit=2&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"3b189b84ba99c153788f920ad0b3f225"'
    body:
      encoding: UTF-8
      string: '[{"kind":"track","id":46192720,"created_at":"2012/05/12 23:27:41 +0000","user_id":5389544,"duration":90757,"commentable":true,"state":"finished","original_content_size":15998600,"sharing":"public","tag_list":"","permalink":"foley-moley-virtual-3d-audio","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"","title":"Foley
        Moley (Virtual 3D Audio)","description":"Stereo headphones required.\r\n\r\nThis
        is a track composed entirely of sounds from around my house. The sounds were
        recorded using U87 and NT1-A condensers through a Sound Devices 702, and sequenced
        in Ableton Live.\r\n\r\nThe recording is made using a moving custom dummy
        head fitted with silicon ears and binaural microphones, while the sounds are
        routed through 4 studio monitors that are positioned around the room. I wanted
        to create an immersive experience with this piece, and hope to release a video
        for it on YouTube in the future.","label_name":"","release":"","track_type":"original","key_signature":"","isrc":"","video_url":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"original_format":"wav","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/46192720","user":{"id":5389544,"kind":"user","permalink":"pogomix","username":"PogoMix","uri":"http://api.soundcloud.com/users/5389544","permalink_url":"http://soundcloud.com/pogomix","avatar_url":"http://i1.sndcdn.com/avatars-000051346225-h5gscf-large.jpg?0769104"},"permalink_url":"http://soundcloud.com/pogomix/foley-moley-virtual-3d-audio","artwork_url":"http://i1.sndcdn.com/artworks-000023236663-h9sgn8-large.jpg?0769104","waveform_url":"http://w1.sndcdn.com/aBSymzIGUp74_m.png","stream_url":"http://api.soundcloud.com/tracks/46192720/stream","playback_count":44900,"download_count":0,"favoritings_count":722,"comment_count":87,"attachments_uri":"http://api.soundcloud.com/tracks/46192720/attachments"},{"kind":"track","id":61369017,"created_at":"2012/09/27
        15:40:15 +0000","user_id":6266041,"duration":230970,"commentable":true,"state":"finished","original_content_size":3743980,"sharing":"public","tag_list":"","permalink":"her-tea-leaves","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"","title":"Her
        Tea Leaves","description":"Celebrating the al[...]
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/46192720?client_id=d082276d6bcf9390cb2b1dab9197ce0e&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"98bb7caa2adc6657c01f7b1ae47de7be"'
    body:
      encoding: UTF-8
      string: '{"kind":"track","id":46192720,"created_at":"2012/05/12 23:27:41 +00[...]
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/46192720/favoriters?client_id=d082276d6bcf9390cb2b1dab9197ce0e&format=json&limit=2&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8b14b746b0f057deb1b8531d879a17c4"'
    body:
      encoding: UTF-8
      string: '[{"id":6330373,"kind":"user","permalink[...]
[...]
