---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/2339203/favorites?client_id=d082276d6bcf9390cb2b1dab9197ce0e&format=json&limit=15&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fc7e758f9a44840b82c4e62d91bc28c7"'
    body:
      encoding: UTF-8
      string: '[{"kind":"track","id":8738,"created_at":"2008/07/02 08:50:47 +0000","user_id":4850,"duration":359294,"commentable":true,"state":"finished","original_content_size":14627838,"sharing":"public","tag_list":"","permalink":"the-glitch-mob-west-coast-rocks-remix-of-matty-g","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"","title":"The
        Glitch Mob - West Coast Rocks (Remix of Matty G)","description":"New track
        from The Glitch Mob! http://theglitchmob.com/music","label_name":"","release":"","track_type":"","key_signature":"","isrc":null,"video_url":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/8738","user":{"id":4850,"kind":"user","permalink":"boreta","username":"boreta","uri":"http://api.soundcloud.com/users/4850","permalink_url":"http://soundcloud.com/boreta","avatar_url":"http://i1.sndcdn.com/avatars-000011814013-rcy9sp-large.jpg?86be403"},"permalink_url":"http://soundcloud.com/boreta/the-glitch-mob-west-coast-rocks-remix-of-matty-g","artwork_url":"http://i1.sndcdn.com/artworks-000000007489-b05f8c-large.jpg?86be403","waveform_url":"http://w1.sndcdn.com/msOwKIeF25Ud_m.png","stream_url":"http://api.soundcloud.com/tracks/8738/stream","playback_count":17591,"download_count":1000,"favoritings_count":236,"comment_count":38,"attachments_uri":"http://api.soundcloud.com/tracks/8738/attachments"},{"kind":"track","id":7088908,"created_at":"2010/11/16
        21:22:20 +0000","user_id":1599328,"duration":229390,"commentable":true,"state":"finished","original_content_size":9222388,"sharing":"public","tag_list":"","permalink":"2am-club-nobodys-in-love-xaphoon-jones-remix","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"","title":"2AM
        Club - Nobody''s In [...]
- request:
    method: get
    uri: http://api.soundcloud.com/users/2339203?client_id=d082276d6bcf9390cb2b1dab9197ce0e&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"261a7c6b96d81cb38eafb57a90603263"'
    body:
      encoding: UTF-8
      string: '{"id":2339203,"kind":"user","permalink":"mrruru","username":"MrRuru","uri":"http://api.soundcloud.com/users/2339203","permalink_url":"http://soundcloud.com/mrruru","avatar_url":"http://i1.sndcdn.com/avatars-000007564695-zfqjyz-large.jpg?86be403","country":"France","full_name":"","description":null,"city":"Paris","discogs_name":null,"myspace_name":null,"website":null,"website_title":null,"online":false,"track_count":10,"playlist_count":0,"plan":"Free","public_favorites_count":421,"followers_count":26,"followings_count":42,"subscriptions":[]}'
  recorded_at: Wed, 05 Jun 2013 21:51:49 GMT
[...]
